@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;1,700&display=swap');

@tailwind base;
@layer base {
  img {
    @apply inline-block;
  }
}
@tailwind components;
@tailwind utilities;

/* Style css start */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Barlow Condensed';
  @apply bg-primary-25;
}

section {
  @apply mt-6;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-bold italic tracking-normal;
}

h1 {
  @apply text-3xl lg:text-4xl xl:text-5xl xl:leading-14;
}

h2 {
  @apply text-2xl lg:text-3xl xl:text-4.5xl xl:leading-11;
}

h3 {
  @apply text-xl lg:text-2xl xl:text-3xl xl:leading-9;
}

h4 {
  @apply text-lg lg:text-xl xl:text-2xl leading-7.5;
}

h5 {
  @apply text-base xl:text-lg leading-6;
}

p {
  @apply text-base not-italic font-normal leading-5.5 text-grey-700;
}

button {
  @apply font-bold italic tracking-normal;
}

button:disabled svg path {
  @apply fill-neutral-white;
}

label {
  @apply font-normal text-base capitalize leading-5 block pb-1 text-grey-800;
}
input,
textarea,
select {
  @apply !border-grey-300 border !px-3 !py-2 !leading-5 font-normal text-base text-grey-700;
}
input:active,
textarea:active,
select:active {
  @apply !border-primary-500;
}
input:focus,
textarea:focus,
select:focus {
  @apply !border !border-primary-500 !outline-none !ring-0 bg-primary-50;
}
input::placeholder,
textarea::placeholder,
select::placeholder {
  @apply text-grey-500 !leading-5;
}
input:active::placeholder,
input:focus::placeholder,
textarea:active::placeholder,
textarea:focus::placeholder,
select:active::placeholder,
select:focus::placeholder {
  @apply text-grey-700;
}
input.invalid,
textarea.invalid,
select.invalid {
  @apply !border-semantic-danger-500;
}
input.with-icon,
textarea.with-icon,
select.with-icon {
  @apply !pl-10;
}
input:active + span:not(.eyeIcon) svg path,
textarea:active + span:not(.eyeIcon) svg path,
select:active + span:not(.eyeIcon) svg path {
  @apply fill-primary-500;
}
input:focus + span:not(.eyeIcon) svg path,
textarea:focus + span:not(.eyeIcon) svg path,
select:focus + span:not(.eyeIcon) svg path {
  @apply fill-grey-800;
}
input.invalid + span svg path,
textarea.invalid + span svg path,
select.invalid + span svg path {
  @apply fill-semantic-danger-500;
}
label .required {
  @apply text-semantic-danger-500;
}
.error-msg {
  @apply flex items-center leading-5 text-semantic-danger-500 text-sm;
}
.steps li.active span {
  @apply bg-status-back_order;
}
.steps li.active span:first-of-type {
  @apply bg-primary-500;
}
.steps li.active p {
  @apply text-status-back_order;
}
.steps li.active p:first-of-type {
  @apply text-[#202223];
}
.steps__order li:first-of-type,
.steps li:last-of-type {
  @apply before:bg-inherit before:w-[calc(50%_-_32px)] before:h-full before:content-[''] before:absolute before:left-0 before:-z-10;
}
.steps li:last-of-type {
  @apply before:left-[unset] before:right-0;
}
.steps:not(.steps__order) li:last-of-type {
  @apply before:w-[calc(100%_-_32px)];
}
.otp-field::-webkit-inner-spin-button,
.otp-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.embla__button:disabled {
  @apply opacity-60 cursor-not-allowed;
}
.react-colorful__alpha,
.react-colorful__hue,
.react-colorful {
  @apply mt-4;
}
.react-colorful__alpha,
.react-colorful__hue {
  @apply !h-2;
}
.react-colorful__pointer {
  @apply cursor-pointer !h-[9px] !w-[9px];
}
.react-colorful__saturation,
.react-colorful__last-control,
.react-colorful__hue {
  @apply !rounded;
}
.promotion__edit label {
  @apply block text-grey-700 pb-0;
}
.promotion__edit label button {
  @apply mb-1;
}
.promotion__edit img {
  @apply object-contain p-2.5 w-20 h-20;
}
.accordion__section > div:last-of-type {
  @apply border-b-0;
}
.loader {
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.progress-ring__circle {
  stroke-dasharray: 400, 400;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

/* Style css end */

/* Header css */
.container .background-none {
  @apply bg-transparent hover:bg-transparent data-[active]:bg-transparent data-[state=open]:bg-transparent focus:bg-transparent;
}
.container .subnav-header {
  @apply text-white italic font-bold text-lg flex gap-1 p-0;
}
.container .background-hf {
  @apply hover:text-secondary-500 focus:text-secondary-500 outline-none focus:outline-none;
}

.menu-hov {
  @apply hover:bg-primary-100 hover:text-primary-500 active:bg-primary-100 active:text-primary-500;
}
.menu-hov:hover span svg {
  @apply !fill-primary-500;
}
.menu-hov:hover h5 {
  @apply text-primary-500;
}
.dropdown-content:before {
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 23px solid;
  content: '';
  left: 16%;
  top: -1rem;
  position: absolute;
  border-top-color: #fff;
  transform: rotate(180deg);
  height: 14px;
  width: 26px;
}

.dropdown-content:after {
  content: '';
  display: block;
  height: 20px;
  position: absolute;
  top: -20px;
  width: 100%;
}

.megamenu-content:before {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 23px solid;
  content: '';
  left: 40px;
  top: -13%;
  margin-left: -20px;
  margin-left: -23px;
  position: absolute;
  border-top-color: #fff;
  transform: rotate(180deg);
}

.megamenu-content:after {
  content: '';
  display: block;
  height: 20px;
  position: absolute;
  top: -20px;
  width: 100%;
}
.menu-hov {
  @apply hover:bg-primary-100 hover:text-primary-500 active:bg-primary-100 active:text-primary-500 z-10;
}

.user-login-dropdown:after {
  content: '';
  top: 10%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 23px solid;
  content: '';
  right: 16%;
  top: 4%;
  position: absolute;
  border-top-color: #fff;
  transform: rotate(180deg);
  height: 14px;
  width: 26px;
  z-index: -1;
}

/* HEADER CSS ENDS HERE */

.arrow-toggle:hover svg {
  @apply !fill-secondary-500;
}
.layout-breadcrumb li {
  @apply text-grey-400;
}
.layout-breadcrumb li:last-child {
  @apply text-grey-900;
}
.profile__details > div:after:last-child {
  @apply content-none;
}
.cta__btn:hover .arrow__animation svg {
  animation: arrow-movement 0.7s ease-out;
}
@keyframes arrow-movement {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  33% {
    opacity: 0;
    transform: translateX(10px);
  }
  66% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.expenditure > div:last-child {
  @apply after:mxs:content-none;
}
.expenditure > div:nth-child(3n-2) p {
  @apply text-primary-500;
}
.expenditure > div:nth-child(3n-1) p {
  @apply text-semantic-warning-500;
}
.promotion-view .dialog-close {
  @apply right-4 top-4 shadow-none;
}
.promotion-view .dialog-close svg {
  stroke: #636969;
}
.filter-select {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.720316 0.469178C0.860942 0.328727 1.05157 0.249837 1.25032 0.249837C1.44907 0.249837 1.63969 0.328727 1.78032 0.469178L5.25032 3.93918L8.72032 0.469178C8.78898 0.395491 8.87178 0.336388 8.96378 0.295396C9.05578 0.254404 9.15509 0.232362 9.25579 0.230585C9.3565 0.228809 9.45653 0.247334 9.54991 0.285055C9.6433 0.322776 9.72814 0.378921 9.79935 0.450139C9.87057 0.521358 9.92672 0.606191 9.96444 0.69958C10.0022 0.792968 10.0207 0.892997 10.0189 0.993699C10.0171 1.0944 9.99509 1.19372 9.9541 1.28572C9.91311 1.37771 9.854 1.46052 9.78032 1.52918L5.78032 5.52918C5.63969 5.66963 5.44907 5.74852 5.25032 5.74852C5.05157 5.74852 4.86094 5.66963 4.72032 5.52918L0.720316 1.52918C0.579866 1.38855 0.500977 1.19793 0.500977 0.999177C0.500977 0.800427 0.579866 0.609803 0.720316 0.469178Z" fill="%23636969"/></svg>');
  background-position-x: calc(100% - 16px);
  background-position-y: 50%;
  @apply !pr-10 appearance-none bg-no-repeat;
}
/* Responsive CSS */
@media (min-width: 320px) {
  .container {
    @apply max-w-full;
  }
}
@media (min-width: 1280px) {
  .container {
    @apply max-w-[1344px];
  }
}
@media (max-width: 1023px) {
  .profile__date svg {
    @apply h-5;
  }
}
@media (max-width: 767px) {
  .container {
    @apply px-4;
  }
}
@media (max-width: 639px) {
  .embla__button svg {
    @apply h-3;
  }
}
/* Responsive CSS */
.setting-card-info .settings-card-detail {
  @apply flex gap-1 items-center;
}
.setting-card-info .settings-card-detail svg {
  @apply min-h-5 min-w-5;
}
.order-status-title {
  @apply text-lg font-medium;
}
.order-status-info {
  @apply text-lg font-normal;
}

/* Active Class Tabs */

.active__tab {
  @apply bg-secondary-500 border-b-2 border-b-grey-900 text-grey-900;
}
.menu-icon.active button svg {
  @apply fill-secondary-500;
}

.menu-links:hover button svg {
  @apply fill-secondary-500;
}
.menu-links:hover .menu-icon svg,
.menu-links:hover .menu-icon svg path {
  @apply fill-secondary-500;
}
.menu-links:hover button {
  @apply text-secondary-500;
}
.menu-links:hover a {
  @apply text-secondary-500;
}
.menu-hov:hover svg path {
  @apply fill-primary-500;
}
.menu-hov:hover svg {
  @apply fill-primary-500;
}
.menu-links:hover button svg path {
  @apply fill-secondary-500;
}

.bottom-border-tabs {
  @apply !border-b-2 !border-primary-500 !border-x-0 !border-t-0;
}
.specification-tab > li {
  @apply px-4 py-2 border-[1px] border-[#CDD6DA40] flex gap-20;
}
.specification-tab li p:first-child {
  @apply basis-[10%];
}
.specification-tab li ul {
  @apply ml-3;
}
.product-tab-video iframe {
  @apply w-full h-full min-h-[262px];
}

.accordion .content {
  position: relative;
  background: white;
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}
.accordion .container.active .content {
  height: 150px;
}

.accordion .container.active .label::before {
  content: '-';
  font-size: 30px;
}
.product-card-btn {
  @apply px-6 py-2 max-w-[131px] 
  italic font-bold leading-4 uppercase text-[14px];
}
.product-card-btn:first-child:hover {
  @apply bg-primary-600;
}
.product-card-btn:last-child:hover {
  @apply bg-primary-100;
}
/* Tooltip attribute for header notifications*/
.navbar .info-block [data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Tooltip content hidden by default(header notifications)*/
.navbar .info-block [data-tooltip]:before,
.navbar .info-block [data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Tooltip position (header notifications)*/
.navbar .info-block [data-tooltip]:before {
  position: absolute;
  top: 164%;
  left: 50%;
  padding: 12px;
  min-width: 130px;
  border-radius: 2px;
  background-color: #191a1a;
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  min-height: 55px;
  border: 1px solid #636969;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
  bottom: unset;
}

/* Triangle hack for Tooltip bubble (header notifications)*/
.navbar .info-block [data-tooltip]:after {
  position: absolute;
  bottom: -94% !important;
  left: 50%;
  border-top: 15px solid #191a1a;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  content: ' ';
  transform: rotate(180deg);
}

/* Tooltip visible on hover (header notification)*/
.navbar .info-block [data-tooltip]:hover:before,
.navbar .info-block [data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

/* tooltip for product card starts here */

/* Tooltip attribute for product product card*/
.info-block [data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Tooltip content hidden by default(product card)*/
.info-block [data-tooltip]:before,
.info-block [data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Tooltip position (product card)*/
.info-block [data-tooltip]:before {
  position: absolute;
  bottom: 130%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -54px;
  padding: 12px;
  min-width: 130px;
  border-radius: 3px;
  background-color: #191a1a;
  color: white;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

/* Triangle hack for Tooltip bubble (product card)*/
.info-block [data-tooltip]:after {
  position: absolute;
  bottom: 107%;
  left: 50%;
  margin-left: -15px;
  width: 0;
  border-top: 15px solid #191a1a;
  border-top: 15px solid #191a1a;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  content: ' ';
}

/* Tooltip visible on hover (product card)*/
.info-block [data-tooltip]:hover:before,
.info-block [data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
.product-accordion {
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* tooltip for product card ends here */

/* Checkbox Input */
input[type='checkbox'] {
  @apply appearance-none w-5 h-5 align-text-top !p-0 rounded-[4px] outline-none leading-[0px] cursor-pointer bg-none border-2 border-solid border-grey-200 relative checked:bg-primary-500 checked:border checked:border-solid checked:border-primary-500 checked:outline-none active:bg-neutral-white active:border-2 active:border-solid active:border-grey-200;
}

input[type='checkbox']:before {
  @apply content-[""] absolute right-1/2 top-[45%] w-1 h-2.5 border-solid border-neutral-white border-t-0 border-r-2 border-b-2 border-l-0 -m-px -mx-1 mb-0  rotate-45 -translate-x-1/2 -translate-y-1/2 z-10;
}

.nav-list li:last-child div {
  right: -5px;
}

input[type='radio']:checked + label {
  @apply bg-primary-400 border-transparent;
}

/* Product Detail Page Embla Carousel Styles Begin Here */
.embla-thumbs__container button svg {
  @apply h-5 w-5;
}

.embla__container {
  transition: height 0.2s;
  align-items: flex-start;
}

/* Styling Single Embla Slide */
.embla-thumbs__container .embla__slide {
  flex: 0 0 100%; /* Default slide covers 100% of the viewport */
  max-height: 85px;
  max-width: 85px;
}

@media (min-width: 1024px) {
  .embla-thumbs__container .embla__slide {
    flex: 0 0 50%; /* Breakpoint SM slide covers 50% of the viewport */
    max-height: 85px;
  }
}
/* Product Detail Page Embla Carousel Styles End Here */

/* user login hover styles */
.user-login-dropdown form button:hover h5 {
  @apply text-primary-500;
}

.user-login-dropdown form button:hover svg path {
  @apply fill-primary-500;
}
/* z-index for the view warehouse info drawer */
div[data-state='open'].fixed.inset-0 {
  z-index: 10;
}

.track-an-order .track-order {
  @apply !top-[10%] !right-4 shadow-[unset];
}
/* underline for lsubmenu  of reosurces in bottom header */
.menus li:nth-child(7):hover ul li a h5 {
  text-decoration: underline;
}

/* whislist table css starts here */

.wishlist
  table
  thead
  tr
  th
  .data-\[state\=checked\]\:text-slate-50[data-state='checked']:first-child,
.wishlist
  table
  tbody
  tr
  td
  .data-\[state\=checked\]\:text-slate-50[data-state='checked']:first-child {
  @apply bg-primary-500;
}

.wishlist table tbody tr td:last-child button {
  @apply p-4;
}
.wishlist table thead tr th:last-child {
  @apply text-center items-center flex justify-center;
}
.wishlist table thead tr th:nth-child(4) {
  @apply text-center justify-center;
}
.wishlist table tbody tr td:nth-child(4) div {
  @apply justify-center;
}
/* removing the close icon from the notification and wishlist dialog box */
#clear-all-notifications-dialogue button.absolute,
#wishlist-remove-dialogue button.absolute {
  @apply hidden;
}

.card-wrapper .single-product-card > :first-child {
  @apply bg-grey-25;
}
.card-wrapper .single-product-card div .sku {
  @apply hidden;
}
.card-wrapper .single-product-card > div:nth-child(2) {
  @apply px-0 py-3;
}
.card-wrapper .single-product-card .product-button {
  @apply hidden;
}
.place-order span {
  @apply text-grey-400 leading-[21px] text-base font-normal not-italic;
}

/* css for mobile header starts here */
.mobile-nav .menus {
  @apply flex-col items-baseline;
}
.user-menu .navbar ul {
  @apply justify-around;
}
.submenu-mobile-nav div button {
  @apply flex  justify-start items-center p-0 text-base font-bold leading-[21px] italic uppercase;
}
.submenu-mobile-nav div button svg:first-child {
  @apply rotate-0;
}
.submenu-mobile-nav div {
  @apply p-0;
}
.submenu-mobile-nav .menus ul li {
  @apply flex  justify-start pl-7;
}
.submenu-mobile-nav .menus ul li a {
  @apply text-base font-bold leading-[21px] italic;
}
