SESSION_SECRET="YOUR_SESSION_SECRET"
PUBLIC_STOREFRONT_API_TOKEN = "YOUR_PUBLIC_STOREFRONT_API_TOKEN"
PRIVATE_STOREFRONT_API_TOKEN = "YOUR_PRIVATE_STOREFRONT_API_TOKEN"
PUBLIC_STORE_DOMAIN="YOUR_PUBLIC_SHOPIFY_STORE_DOMAIN"